/* 
    Document   : mvr.css
    Created on : Nov 6, 2013, 1:48:51 PM
    Author     : sedlad1
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    font-family:monospace;
}

body {
    font-family:monospace;
}

section h2 {
    padding:5px 15px;
    background-color: lightsteelblue;
}

#content {
    width:75%;
    margin:0px auto;
}

